Django>=5.0.0,<6.0.0
djangorestframework>=3.14.0
djangorestframework-simplejwt>=5.3.0
django-cors-headers>=4.3.0
python-decouple>=3.8
django-filter>=23.5
gunicorn>=21.2.0
whitenoise>=6.6.0
psycopg2-binary>=2.9.9  # For PostgreSQL support
resend>=0.11.0  # For sending emails
Pillow>=10.0.0  # For image processing support
